<h1>Test: <%= @results[0].test.description %></h1>

<table>
  <tr>
    <th>User</th>
    <th>Prozent</th>
    <th>Note</th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.student.user.email %></td>
    <td align="center"><%= punkte = ((result.points * 100) / result.count_questions).round %> </td>
    <td align="center"><%= POINTS_TO_NOTE[punkte] %></td>

  </tr>
<% end %>
</table>
